doctype html
html(lang="en" ng-app="plainMean")
	head
		meta(charset="utf-8")
		meta(name='viewport', content='width=device-width,initial-scale=1, user-scalable=no')
		title= title
		link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		<script src="bower_components/jquery/dist/jquery.js"></script>
		<script src="bower_components/angular/angular.js"></script>
		<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
		<script src="bower_components/angular-resource/angular-resource.js"></script>
		<script src="bower_components/angular-cookies/angular-cookies.js"></script>
		<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
		<script src="bower_components/angular-route/angular-route.js"></script>
		<script src="/app.js"></script>
		<script src="/admin/controllers.js"></script>
		<script src="/common/services.js"></script>
	body
		div.container
			div(ng-include="'admin/nav.tpl.html'")
			div(ng-view)
			div(ng-include="'admin/footer.tpl.html'")