<div class="page-header">
    <h1>Contacts List <a href="#/test">Test</a></h1>
</div>
<div class="row">
	<div class="col-xs-5">
		<a href="#/api/contact/0" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> New Contact</a>
	</div>
	<div class="col-xs-7">
		<input type="text" class="form-control" ng-model="query" placeholder="Search for a contact">
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<hr>
	</div>
</div>
<div class="row" ng-switch on="contacts.length">
	<ul ng-switch-when="0">
		<li>No contacts in database. Would you like to <a href="#/contact/populate">create fake contacts</a>?</li>
	</ul>

	<ul class="list-group" ng-switch-default>
		<li class="list-group-item" ng-repeat="contact in contacts | filter:query">
			<a href="#/api/contact/{{contact._id}}">{{contact.firstName}} {{ contact.lastName }} </a> <i>{{ contact.email | lowercase }}</i>
		</li>
	</ul>
</div>
<p>&nbsp;</p>

<div class="row">
	<div class="col-lg-3">
		<div class="input-group">
			<span class="input-group-addon">
        		<input type="checkbox" ng-model="checked">
     		</span>
     		<input type="text" class="form-control" value="Hide Button" readonly="readonly">
		</div>	
	</div>
	<div class="col-lg-9">
		<button class="btn btn-info" ng-hide="checked">Press Me</button>
	</div>
</div>

<div class="row">
	<div class="col-lg-3">
		<div class="input-group">
			<span class="input-group-addon">
        		<input type="checkbox" ng-model="disable">
     		</span>
     		<input type="text" class="form-control" value="Disable Button" readonly="readonly">
		</div>	
	</div>
	<div class="col-lg-9">
		<button class="btn btn-info" ng-disabled="!disable">Press Me</button>
	</div>
</div>

